:root{
    --darkblue: #001957;
    --yellow: #F9AE00s;
    --bgGradient: linear-gradient(175deg, #24CAEA 0.27%, #000395 88.31%);  
}

body{
    font-family: "Poppins", sans-serif;
}

li{
    list-style-type: none;
}

.sidebar{
    background: var(--bgGradient);
    color: white;
    width: 100%;
    height: 100vh;
}

.add-task{
    background: var(--yellow) !important;
    color: var(--darkblue) !important;
    font-weight: bold;
}